.fixed-action-btn
	a.btn-floating.btn-lg.white
		i.fas.fa-plus.grey-text
		
	ul.list-unstyled
		li(data-toggle="tooltip" data-placement="left" title="New User")
			a.btn-floating.white(href="/admin/users/new" data-href="/admin/users/new")
				i.fas.fa-user-alt.grey-text
		li(data-toggle="tooltip" data-placement="left" title="New Page")
			a.btn-floating.white(href="/admin/pages/new" data-href="/admin/pages/new")
				i.fas.fa-pencil-alt.grey-text
